body {
    color: black;
    background-image: url(./images/background/table.jpg);
    background-position: 0px -100px;
    flex-direction: row;
    text-align: center;
    padding: 5px;
}

#hand {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex;
    gap: 25px;
    justify-content: center;
}

#hand img {
    height: 200px; 
    width: auto; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#hand img:hover {
    transform: scale(1.2) rotate(3deg); 
    cursor: pointer;
}

#table {
    position: fixed; 
    left: 50%; 
    transform: translateX(-50%) translateY(160%); 
    display: flex;
    gap: 20px;
    justify-content: center;
}

#table img {
    height: 200px; 
    width: auto; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

